<% provide(:title, @clinic.name) %>

<div class="center hero-unit">
	<div class="row row-clinic">
		<div class="span4">
			<%= image_tag("ginecologo.gif", class: "img-rounded", size: "250x250") %>
		</div>
		<div class="span4">
			<h3><%= @clinic.name %></h3>
			<h5><%= @clinic.address+', '+@clinic.city %></h5><br/>
			<strong>Especialidad</strong>
			<br/>
			<ul>
				<li>Embarazo y parto</li>
				<li>Cirugía ginecológica</li>
				<li>Climaterio</li>
				<li>Ginecología infanto-juvenil</li>
				<li>Oncología ginecológica</li>
				<li>Infertilidad</li>
			</ul>
			<br/>
			<strong>Profesionales</strong>
			<ul>
				<% @doctors.each do |doctor| %>
					<li><%= link_to 'Dr. '+ doctor.name + ' '+ doctor.last_name, clinic_doctor_path(@clinic.id,doctor.id)%><%= link_to 'Ver horas e informacion', clinic_doctor_path(@clinic.id,doctor.id), class: 'show-info'%>				
				<% end %>
			</ul>
		</div>
	</div>
</div>




