<%= provide(:title, 'Ingreso de paciente')%>
<h1>Ingreso de paciente</h1>
<div class="row">
	<div class="hero-unit span5 offset3">
				<%= form_for(:session, url: sessions_path) do |f| %>
					<%= f.label :email, 'Email' %>
					<%= f.text_field :email %>

					<%= f.label :password, "Contraseña"%>
					<%= f.password_field :password %>
					<%= f.submit "Entrar", class: "btn btn-large btn-primary btn-login" %>

			<% end %>
	</div>
</div>