<header class="navbar navbar-fixed-top navbar-inverse">
	<div class="navbar-inner">
		<div class = "container">
			<nav>
				<ul class="nav pull-right">
						<li><%= link_to "Inicio", root_path%></li>
						<li><%= link_to "Servicio", "#"%></li>
						<li><%= link_to "Quienes somos", "#"%></li>
						<% if signed_in? %>
							<li><%= link_to "Mis datos", patient_path(current_patient)%></li>
							<li><%= link_to "Salir", logout_path, method: "delete"%></li>
						<% else %>
							<li><%= link_to "Ingresar", signup_path%></li>
						<% end %>
				</ul>
			<nav>
		</div>
	</div>
</header>
